/* General styles */

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(224, 218, 208);
    color: rgb(75, 75, 75);
}
p{
    width: 70%;
    margin: 0 auto;
}
h5{
    margin: 0.5rem 0;
}

/* Site sections styles */
header{
    height: 15vh;
}
main{
    margin: 0 auto;
    width: 70%;
    height: 85vh;
}

.cards{
    height: 300px;
    margin-bottom: 100px;
}

.cards img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cards div:last-child{
    font-size: 0.7rem;
}